*{
    margin: 0;
    padding: 0;
}
body{
    background: red;
}
.box2{
    display: block;
}
img{
    width: 10%;
    height: 60%;
}
button{
    background: none;border: none;
    outline: none;
}